<ion-view view-title="DNA Buildings">
    <ion-content has-header="true" padding="true">
        <ion-refresher on-refresh="doRefresh()" pulling-icon="ion-ios7-arrow-thin-down"></ion-refresher>
        <ion-searchbar [(ngModel)]="searchQuery" (input)="posts"></ion-searchbar>
        <ion-list>
            <ion-item class="item-icon-right item item-avatar" ng-repeat="post in posts track by $index" ng-click="openModal(post)" track>
                <img ng-if="post.image.url" ng-src="{{post.image.url}}" class="alignleft" />
                <h2 ng-bind-html="post.title" style="font-weight: bold;"></h2>
                <p style="display:inline" ng-if="post.address" ng-bind-html="post.address"></p>,&nbsp;
                <p style="display:inline" ng-if="post.zip" ng-bind-html="post.zip"></p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>