<div id="search-block">
	<div class="input-group">
		<input type="text" class="form-control" id="search-box" placeholder="Search" ng-model='searchText'>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button">
				<span id="search" class="glyphicon glyphicon-search"></span>
			</button>
		</span>
	</div>
</div>

<div id="RequestListWrapper" class="panel panel-default">
	<div class="panel-heading">Recent Requests</div>
	<div class="panel-body2">
		<ul id="RequestList">
			<li class="request-list-item" ng-repeat="request in recentRequests | filter:searchText">
				<span class="glyphicon glyphicon-map-marker"></span>
					<a ui-sref="requests.detail({requestId:request.service_request_id})" style="font-weight:bold;">
					<span style="font-weight:bold;">{{request.service_name}}</span> —
					<span ng-if="request.description" style="font-weight:bold;">Description:</span>
					<span ng-if="request.description" style="font-weight:normal;">{{request.description}} —</span>
					<span style="font-weight:bold;">Location:</span> 
					<span ng-if="request.address" style="font-weight:normal;">{{request.address}}</span>
					<span ng-if="request.lat" style="font-weight:normal;">Latitude: {{request.lat}}</span>
					<span ng-if="request.long" style="font-weight:normal;">Longitude: {{request.long}}</span>
				</a>
			</li>
		</ul>
	</div>
</div>